/* CSS RESET
 http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a:active,
a:link,
a:visited {
  color: #fff;
  text-decoration: none;
  outline: none;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*-----------------------------------------*/
/* Variables */
/* Fonts */
html,
body {
  min-height: 100%;
}

body {
  font-family: 'Space Mono', monospace, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.05em;
  color: aliceblue;
  background: #0a0915 url('../public/assets/images/space-bg.jpg') repeat 0 0;
  background-repeat: repeat-y;
  background-size: contain;

}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.logo-bg {
  background-size: contain;
  background-repeat: no-repeat;
  width: 30vw;
  min-height: 250px;
}

.logo {
  width: 35vw;
  margin-left: 5%;
  margin-top: -10%;
}

.logo-bg,
.logo {
  min-width: 270px;
}

h1.title {
  text-transform: uppercase;
  font-family: 'Josefin Sans', sans-serif;
  margin-top: 0.5rem;
  margin-bottom: 3rem;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 7px;
}


header,
.header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-links {
  position: relative;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  position: relative;
  display: inline-block;
  margin: 0 12px;
}

.nav-links li a {
  display: block;
  line-height: 1.4;
}

.nav-links a {
  position: relative;
  font: 14px/28px 'Space Mono', monospace, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-weight: 500;
  font-style: normal;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: color .25s ease;
  transition: color .25s ease;
}

#navigation {
  padding: 2rem 0;
  margin-bottom: 0rem;
}

#navigation .nav-links li a:after,
#navigation-right .nav-links li a:after,
.link:after {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 1px;
  background: #fff;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: right center;
  transform-origin: right center;
  -webkit-transition: -webkit-transform .6s cubic-bezier(.19, 1, .22, 1);
  transition: -webkit-transform .6s cubic-bezier(.19, 1, .22, 1);
  transition: transform .6s cubic-bezier(.19, 1, .22, 1);
  transition: transform .6s cubic-bezier(.19, 1, .22, 1), -webkit-transform .6s cubic-bezier(.19, 1, .22, 1)
}

#navigation .nav-links li a,
#navigation-right .nav-links li a {
  -webkit-transition: opacity .6s linear;
  transition: opacity .6s linear
}

#navigation .nav-links li a:hover,
#navigation-right .nav-links li a:hover {
  color: #fff
}

#navigation .nav-links li a:focus:after,
#navigation .nav-links li a:hover:after,
#navigation-right .nav-links li a:focus:after,
#navigation-right .nav-links li a:hover:after,
.link:hover:after {
  -webkit-transition-duration: .4s;
  transition-duration: .4s;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform-origin: left center;
  transform-origin: left center
}



.flight-image {
  max-width: 150px;
}

.flight .status {
  padding: 0.1rem 0.5rem;
  display: inline-block;
  background: #2ca90d;
  margin-bottom: 0.6rem;
}

.flight .status.failed {
  background: #a90d0d;
}

.flight .failed-reason {
  display: block;
  color: #f01;
  margin-bottom: 0.3rem;
}

.flight .details {
  margin-top: 1rem;
  color: #a7a7a7;
}

.flight .links {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1.5rem;
  width: 100%;
}

.flight .link {
  display: flex;
  align-items: center;
  position: relative;
  -webkit-transition: opacity .6s linear;
  transition: opacity .6s linear
}


.flight .link svg {
  margin-right: 0.5rem;
}




/* Styling */
.timeline {
  margin: 4em auto;
  position: relative;
  max-width: 56em;
}

.timeline:before {
  background-color: #959595;
  content: '';
  margin-left: -1px;
  position: absolute;
  top: 0;
  left: 2em;
  width: 2px;
  height: 100%;
}

.timeline-event {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.timeline-event:before {
  content: '';
  border-top: 1px dashed #4a4a4a;
  display: block;
  position: absolute;
  height: 1px;
  width: calc(100% - 5rem);
  top: 1rem;
  left: 5rem;
}

.timeline-event:hover .timeline-event-icon {
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background-color: #a83279;
}

.timeline-event:hover::before {
  border-top: 1px dashed #6c3a58;
}

.timeline-event:hover .timeline-event-thumbnail {
  -moz-box-shadow: inset 40em 0 0 0 #a83279;
  -webkit-box-shadow: inset 40em 0 0 0 #a83279;
  box-shadow: inset 40em 0 0 0 #a83279;
  padding-left: 1rem !important;
  -webkit-transition: all .4s linear;
  transition: all .4s linear
}

.timeline-event-copy {
  padding: 2em 3em 2em 2em;
  position: relative;
  top: -1.875em;
  left: 3em;
  /* width: 80%; */
}

.timeline-event-copy h3 {
  font-size: 1.75em;
}

.timeline-event-copy h4 {
  font-size: 1.2em;
  margin-bottom: 1.2em;
}

.timeline-event-copy strong {
  font-weight: 700;
}

.timeline-event-copy p:not(.timeline-event-thumbnail) {
  padding-bottom: 1.2em;
}

.timeline-event-icon {
  -moz-transition: -moz-transform 0.2s ease-in;
  -o-transition: -o-transform 0.2s ease-in;
  -webkit-transition: -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: white;
  outline: 10px solid black;
  display: block;
  margin: 0.5em 0.5em 0.5em -0.5em;
  position: absolute;
  top: 0;
  left: 2em;
  width: 1em;
  height: 1em;
}

.timeline-event-thumbnail {
  -moz-transition: box-shadow 0.5s ease-in 0.1s;
  -o-transition: box-shadow 0.5s ease-in 0.1s;
  -webkit-transition: box-shadow 0.5s ease-in;
  -webkit-transition-delay: 0.1s;
  transition: box-shadow 0.5s ease-in 0.1s;
  color: white;
  font-size: 0.85em;
  background-color: black;
  -moz-box-shadow: inset 0 0 0 0em #ef795a;
  -webkit-box-shadow: inset 0 0 0 0em #ef795a;
  box-shadow: inset 0 0 0 0em #ef795a;
  display: inline-block;
  margin-bottom: 1.2em;
  padding: 0.25em 1em 0.2em 0em;
  -webkit-transition: all .4s linear;
  transition: all .4s linear
}

















.upcoming {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
}

.upcoming li {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}

.upcoming li span {
  display: block;
  font-size: 4.5rem;
}

.infinite-scroll-component {
  overflow-x: hidden;
}


.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3rem 0;
  flex-direction: column;
  gap: 0.6rem;
}

.loader-container p {
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: 0.5rem;
}

.loader {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: block;
  margin: 15px auto;
  position: relative;
  color: #FFF;
  box-sizing: border-box;
  animation: animloader 2s linear infinite;
}

@keyframes animloader {
  0% {
    box-shadow: 14px 0 0 -2px, 38px 0 0 -2px, -14px 0 0 -2px, -38px 0 0 -2px;
  }

  25% {
    box-shadow: 14px 0 0 -2px, 38px 0 0 -2px, -14px 0 0 -2px, -38px 0 0 2px;
  }

  50% {
    box-shadow: 14px 0 0 -2px, 38px 0 0 -2px, -14px 0 0 2px, -38px 0 0 -2px;
  }

  75% {
    box-shadow: 14px 0 0 2px, 38px 0 0 -2px, -14px 0 0 -2px, -38px 0 0 -2px;
  }

  100% {
    box-shadow: 14px 0 0 -2px, 38px 0 0 2px, -14px 0 0 -2px, -38px 0 0 -2px;
  }
}



.rockets .rocket .wiki,
.btn-go-home {
  margin: 15px auto;
  width: 13rem;
  padding: 10px 15px;
  border: 1px solid #FFCB39;
  font-weight: 400;
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  letter-spacing: 2px;
  font-size: 11px;
  background: #000;
}

.rockets .rocket .wiki:hover,
.btn-go-home:hover {
  background-color: #FFCB39;
  color: #fff;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.1);
}

.central-body {
  padding: 17% 5% 10% 5%;
  text-align: center;
}

.image-404 {
  pointer-events: none;
}

h1.flight-title {
  font-size: 1.6rem;
  text-align: center;
  margin: 1rem 0 2rem 0;
}

.rockets {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.rockets .rocket {
  width: 100%;
  padding: 0.4rem;
}

@media (min-width: 768px) {
  .rockets .rocket {
    width: 50% !important; 
  }
}
@media (min-width: 1200px) {
  .rockets .rocket {
    width: 25% !important; 
  }
}


.rockets .rocket .img {
  border-radius: 0.25rem 0.25rem 0 0;
  width: 100%;
  object-fit: cover;
  height: 200px;
}
.rockets .rocket .country{
  
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.p-3 {
  padding: 1rem !important;
}

.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #2b3948;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: 0.25rem;
}

.justify-content-between {
  -ms-flex-pack: justify !important;
  justify-content: space-between !important;
}

.d-flex {
  display: -ms-flexbox !important;
  display: flex !important;
}